:root{
    --primary-color:#2C3E50;
    --secondary-color:#E0E0E0;
    --tertiary-color:#17181c;
    --headings-color:#142435;
    --color1:#2e8b57;
    --color2:#fa8072;
    --color3:#da70d6;
    --color4:#6b8e23;
}
/* header and navigation bar  */
header ,footer{
    background:var(--primary-color);
}
#navbar a:hover{
    color:var(--color3);
    text-decoration: underline;
}